body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}


.button{
    color:white;    
    background-color: red;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .4 all ease-in;
    border: none;
    min-width: 70px;    
}
.button:hover{
    color:red;    
    background-color: white;    
}
.title-table{
    padding: 10px;
    background-color: green;
    border: 1px solid white;
}

.title{
    background-color: green;
    padding: 10px;
}

.body{
    background-color: rgb(0, 128, 105);
    padding: 10px;
}